@model UpdateBlogDto
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-10">
            <div class="card">
                <div class="card-body">
                    
                    <h4 class="card-title">Blog Güncelle</h4>
                    <br />

                    <form method="post">

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label>Blog Başlığı</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="form-group">
                            <label>Açıklama</label>
                            <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>

                        <div class="form-group">
                            <label>Kapak Resmi</label>
                            <input type="text" asp-for="CoverImage" class="form-control" />
                            <span class="text-danger" asp-validation-for="CoverImage"></span>
                        </div>

                        <div class="form-group">
                            <label>Blog Resmi 1</label>
                            <input type="text" asp-for="BlogImage1" class="form-control" />
                            <span class="text-danger" asp-validation-for="BlogImage1"></span>
                        </div>

                        <div class="form-group">
                            <label>Blog Resmi 2</label>
                            <input type="text" asp-for="BlogImage2" class="form-control" />
                            <span class="text-danger" asp-validation-for="BlogImage2"></span>
                        </div>

                        <div class="form-group">
                            <label>Kategori</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categories">
                                <option value="">Kategori Seçiniz</option>
                            </select>
                            <span class="text-danger" asp-validation-for="CategoryId"></span>
                        </div>

                        <div class="mt-3">
                            <button class="btn btn-primary">Güncelle</button>
                            <a href="/Admin/Blog/Index" class="btn btn-light">Vazgeç</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
