@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
   
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}





<form method="post">
   
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori Güncelle </h4>
            <div class="form-group">
                <input type=" hidden" asp-for="Id" />
                <label>Kategori Adı</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
                <br />
            </div>


        </div>
        <div class="border-top">
            <div class="card-body">
                <button type="submit" class="btn btn-success">Güncelle  </button>
            </div>
        </div>
    </div>
</form>
